:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -color: #747bff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
}
#root{
  height: 100%;
  width: 100%;
}
ul{
  list-style: none;
}
button{
  all: unset;
}
.theme-light{
  background-color: #fff;
}
.theme-dark{
  background-color: #121212;
}